<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Login Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

    <h1>Login Admin</h1>
    <p class="subtitle">Akses panel administrasi sistem prediksi</p>

    <div class="card">
        <label>Username</label>
        <input type="text" id="username">

        <label>Password</label>
        <input type="password" id="password">

        <button onclick="login()">Login</button>
    </div>

</div>

<script>
async function login() {
    const username = document.getElementById("username").value;
    const password = document.getElementById("password").value;

    if (!username || !password) {
        alert("Username dan password wajib diisi");
        return;
    }

    const res = await fetch("/api/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ username, password })
    });

    const data = await res.json();
    if (res.status !== 200) {
        alert(data.error);
        return;
    }

    window.location.href = "/admin";
}
</script>

</body>
</html>
